<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">



# Capstone : Sentiment analysis for curfew in Saudi Arabia








### Group Member:


- Fatimah Aljohani
- Rawan Almalki
- Najwa Alharbi

<img src="https://www.al-khaleeg.com/wp-content/uploads/2020/04/IMG-20200420-WA0157.jpg" style="height: 350px; width: 900px">

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#Read the dataframe for march month from day 1 intell day 31.
df_march = pd.read_csv('datasets/df_march.csv')

C:\Users\fatma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,9,28,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
#Read the dataframe for april month from day 1 intell day 4.
df_april = pd.read_csv('datasets/df_april.csv')

C:\Users\fatma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# We merged the dataframe for both two months.
main_df = pd.concat([df_march, df_april])

C:\Users\fatma\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [5]:
# we Explore the data 
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 628615 entries, 0 to 81182
Data columns (total 35 columns):
contributors                 0 non-null float64
coordinates                  50 non-null object
created_at                   628615 non-null object
display_text_range           628615 non-null object
entities                     628615 non-null object
extended_entities            175622 non-null object
favorite_count               628615 non-null int64
favorited                    628615 non-null bool
full_text                    628615 non-null object
geo                          50 non-null object
id                           628615 non-null int64
id_str                       628615 non-null int64
in_reply_to_screen_name      11435 non-null object
in_reply_to_status_id        10945 non-null float64
in_reply_to_status_id_str    10945 non-null float64
in_reply_to_user_id          11435 non-null float64
in_reply_to_user_id_str      11435 non-null float64
is_quote_status              628615 non-null bool
lang                         628615 non-null object
place                        3341 non-null object
possibly_sensitive           198921 non-null float64
quoted_status                4402 non-null object
quoted_status_id             17726 non-null float64
quoted_status_id_str         17726 non-null float64
quoted_status_permalink      17726 non-null object
retweet_count                628615 non-null int64
retweeted                    628615 non-null bool
retweeted_status             530531 non-null object
scopes                       10 non-null object
source                       628615 non-null object
truncated                    628615 non-null bool
user                         628615 non-null object
withheld_copyright           6 non-null float64
withheld_in_countries        13 non-null object
withheld_scope               6 non-null object
dtypes: bool(4), float64(9), int64(4), object(18)
memory usage: 155.9+ MB

# Dfine the hashtags

- The dataframe contains several hashtags, so we've extracted related hashtags to the curfew theme.

# خليك في البيت

In [6]:
# Extract the hashtag name frome the full_text column.
df_athome=main_df[main_df['full_text'].str.contains("خليك_في_البيت")] 
# Print the shape 
df_athome.shape

(1933, 35)

In [7]:
# Remove the retweet from the data
w=df_athome[~df_athome.full_text.str.startswith('RT')]
w.shape

(696, 35)

In [8]:
# save the data in csv file.
w.to_csv('df11.csv')

In [9]:
#Read the dataframe, so we can merging the other hashtags.
df11 = pd.read_csv('datasets/df11.csv')
df11.shape

(696, 36)

# خلك بالبيت

In [10]:
# Extract the hashtag name frome the full_text column.
df_athome3=main_df[main_df['full_text'].str.contains("خلك_بالبيت")] 
df_athome3.shape

(845, 35)

In [11]:
# Remove the retweet from the data
r=df_athome3[~df_athome3.full_text.str.startswith('RT')]
r.shape

(375, 35)

In [12]:
# save the data in csv file.
r.to_csv('df22.csv')

In [13]:
#Read the dataframe, so we can merging the other hashtags.
df22 = pd.read_csv('datasets/df22.csv')
df22.shape

(375, 36)

# منع التجول

In [14]:
# Extract the hashtag name frome the full_text column.
df_Curfew=main_df[main_df['full_text'].str.contains("منع_التجول")] 
df_Curfew.shape

(49700, 35)

In [15]:
# Some hashtags start before the procedure is carried out in Saudi Arabia, so the hashtags are determined by the date of the decision in Saudi Arabia.
df = df_Curfew[(df_Curfew['created_at'] >= '2020-03-23') & (df_Curfew['created_at'] <= '2020-04-12')]
df.shape

(49293, 35)

In [16]:
# Remove the retweet from the data
s=df[~df.full_text.str.startswith('RT')]
s.shape

(3530, 35)

In [17]:
# save the data in csv file.
s.to_csv('df33.csv')

In [19]:
#Read the dataframe, so we can merging the other hashtags.
df33 = pd.read_csv('datasets/df33.csv')
df33.shape

(3530, 36)

## اعزل نفسك

In [20]:
# Extract the hashtag name frome the full_text column.
df_youself=main_df[main_df['full_text'].str.contains("اعزل_نفسك")] 
df_youself.shape

(14683, 35)

In [21]:
#Some hashtags start before the procedure is carried out in Saudi Arabia, so the hashtags are determined by the date of the decision in Saudi Arabia.
df3 = df_youself[(df_youself['created_at'] >= '2020-03-23') & (df_youself['created_at'] <= '2020-04-12')]
df3.shape

(14549, 35)

In [22]:
# Remove the retweet from the data
e=df3[~df3.full_text.str.startswith('RT')]
e.shape

(4748, 35)

In [23]:
# save the data in csv file.
e.to_csv('df44.csv')

In [24]:
#Read the dataframe, so we can merging the other hashtags.
df44 = pd.read_csv('datasets/df44.csv')
df44.shape

(4748, 36)

## الحجر المنزلي

In [25]:
# Extract the hashtag name frome the full_text column.
df_stay_home=main_df[main_df['full_text'].str.contains("الحجر_المنزلي")] 
df_stay_home.shape

(28476, 35)

In [26]:
#Some hashtags start before the procedure is carried out in Saudi Arabia, so the hashtags are determined by the date of the decision in Saudi Arabia.
df_ss = df_stay_home[(df_stay_home['created_at'] >= '2020-03-23') & (df_stay_home['created_at'] <= '2020-04-12')]
df_ss.shape

(943, 35)

In [27]:
# Remove the retweet from the data
d=df_ss[~df_ss.full_text.str.startswith('RT')]
d.shape

(472, 35)

In [28]:
# save the data in csv file.
d.to_csv('df55.csv')

In [29]:
#Read the dataframe, so we can merging the other hashtags.
df55 = pd.read_csv('datasets/df55.csv')
df55.shape

(472, 36)

## كلنا في البيت لأجل السعودية

In [30]:
# Extract the hashtag name frome the full_text column.
df_stayhome=main_df[main_df['full_text'].str.contains("كلنا_في_البيت_لاجل_السعوديه")] 
df_stayhome.shape

(6444, 35)

In [31]:
# Remove the retweet from the data
o=df_stayhome[~df_stayhome.full_text.str.startswith('RT')]
o.shape

(3004, 35)

In [32]:
# save the data in csv file.
o.to_csv('df66.csv')

In [33]:
#Read the dataframe, so we can merging the other hashtags.
df66= pd.read_csv('datasets/df66.csv')
df66.shape

(3004, 36)

## حظر التجول في السعودية

In [34]:
# Extract the hashtag name frome the full_text column.
df_saudi=main_df[main_df['full_text'].str.contains("حظر_التجول_في_السعودية")] 
df_saudi.shape

(416, 35)

In [35]:
# Remove the retweet from the data
v=df_saudi[~df_saudi.full_text.str.startswith('RT')]
v.shape

(100, 35)

In [36]:
# save the data in csv file.
v.to_csv('df77.csv')

In [37]:
#Read the dataframe, so we can merging the other hashtags.
df77 = pd.read_csv('datasets/df77.csv')
df77.shape

(100, 36)

## الحجر المنزلي واجب وطني

In [38]:
# Extract the hashtag name frome the full_text column.
df_Qsaudi=main_df[main_df['full_text'].str.contains("الحجر_المنزلي_واجب_وطني")] 
df_Qsaudi.shape

(12335, 35)

In [39]:
#Some hashtags start before the procedure is carried out in Saudi Arabia, so the hashtags are determined by the date of the decision in Saudi Arabia.
df_s2 = df_Qsaudi[(df_Qsaudi['created_at'] >= '2020-03-23') & (df_Qsaudi['created_at'] <= '2020-04-12')]
df_s2.shape

(206, 35)

In [40]:
# Remove the retweet from the data
q=df_s2[~df_s2.full_text.str.startswith('RT')]
q.shape

(81, 35)

In [41]:
# save the data in csv file.
q.to_csv('df88.csv')

In [43]:
#Read the dataframe, so we can merging the other hashtags.
df88 = pd.read_csv('datasets/df88.csv')
df88.shape

(81, 36)

## اجلس بالبيت

In [44]:
# Extract the hashtag name frome the full_text column.
df_sweethome=main_df[main_df['full_text'].str.contains("اجلس_بالبيت")] 
df_sweethome.shape

(3476, 35)

In [45]:
# Remove the retweet from the data.
u=df_sweethome[~df_sweethome.full_text.str.startswith('RT')]
u.shape

(1780, 35)

In [46]:
# save the data in csv file.
u.to_csv('df99.csv')

In [47]:
#Read the dataframe, so we can merging the other hashtags.
df99 = pd.read_csv('datasets/df99.csv')
df99.shape

(1780, 36)

## انثبروا ببيوتكم

In [48]:
# Extract the hashtag name frome the full_text column.
df_stay=main_df[main_df['full_text'].str.contains("انثبروا_ببيوتكم")] 
df_stay.shape

(6747, 35)

In [49]:
# Remove the retweet from the data.
c=df_stay[~df_stay.full_text.str.startswith('RT')]
c.shape

(3887, 35)

In [50]:
# save the data in csv file.
c.to_csv('df10.csv')

In [51]:
#Read the dataframe, so we can merging the other hashtags.
df10 = pd.read_csv('datasets/df10.csv')
df10.shape

(3887, 36)

## Full dataframe

In [52]:
# We merged all the dataframes of the hashtags.
Full_dataframe = pd.concat([df11,df22,df33,df44,df55,df66,df77,df88,df99,df10])
Full_dataframe.shape

(18673, 36)

In [53]:
# save the data in csv file.
Full_dataframe.to_csv('Full_dataframe.csv')

In [54]:
#Read the dataframe, so we can merging the other hashtags.
full_df = pd.read_csv('datasets/Full_dataframe.csv')
full_df.shape

C:\Users\fatma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(18673, 37)

In [55]:
# create list to save the location
locations =[]
# Loop for get all locatons from user to save in (location)
for i in full_df['user'] :
    x= eval(i).get('location')
    locations .append(x)
# create new column to save the location
full_df['location']=locations

In [56]:
# save the data in csv file.
full_df.to_csv('full_df.csv')

In [58]:
df1 = pd.read_csv('datasets/full_df.csv')

C:\Users\fatma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [59]:
# drop the columns that have nan or unnecessary.
df1.drop(['contributors','coordinates','extended_entities', 'withheld_copyright',
          'withheld_in_countries','withheld_scope','Unnamed: 0','Unnamed: 0.1',
          'scopes','geo','in_reply_to_screen_name',
          'in_reply_to_status_id', 'in_reply_to_status_id_str',
          'in_reply_to_user_id','in_reply_to_user_id_str',
          'place','possibly_sensitive','quoted_status','quoted_status_id',
          'quoted_status_id_str','quoted_status_permalink',
          'id_str','is_quote_status','lang','retweet_count',
          'retweeted','retweeted_status','source','truncated',
         'created_at','display_text_range','entities','favorite_count','favorited'
         ], axis=1, inplace=True)

In [60]:
full_df.head()

,Unnamed: 0,Unnamed: 0.1,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,...,retweeted,retweeted_status,scopes,source,truncated,user,withheld_copyright,withheld_in_countries,withheld_scope,location
0,0,107107,NaN,NaN,2020-03-14 01:30:15+00:00,"[0, 275]","{'hashtags': [{'text': 'ملل', 'indices': [0, 4...",NaN,13,False,...,False,NaN,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,"{'id': 482567298, 'id_str': '482567298', 'name...",NaN,NaN,NaN,الرياض
1,1,147255,NaN,NaN,2020-03-14 17:55:45+00:00,"[0, 28]","{'hashtags': [{'text': 'خليك_في_البيت', 'indic...","{'media': [{'id': 1238886383877587000, 'id_str...",3,False,...,False,NaN,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,"{'id': 3081154219, 'id_str': '3081154219', 'na...",NaN,NaN,NaN,سلطنة عمان
2,2,164993,NaN,NaN,2020-03-14 16:36:33+00:00,"[0, 120]","{'hashtags': [{'text': 'قعدوا_في_البيت', 'indi...","{'media': [{'id': 1238866476574150700, 'id_str...",27,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 81937499, 'id_str': '81937499', 'name':...",NaN,NaN,NaN,Kuwait
3,3,165395,NaN,NaN,2020-03-14 18:09:16+00:00,"[0, 146]","{'hashtags': [{'text': 'خليك_في_البيت', 'indic...","{'media': [{'id': 1238889943293931500, 'id_str...",3,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 919957538480820200, 'id_str': '91995753...",NaN,NaN,NaN,دولة الكويت
4,4,185849,NaN,NaN,2020-03-15 04:10:19+00:00,"[0, 181]","{'hashtags': [{'text': 'كورونا', 'indices': [6...","{'media': [{'id': 1239041202944647200, 'id_str...",3,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",False,"{'id': 489380447, 'id_str': '489380447', 'name...",NaN,NaN,NaN,"الرياض, المملكة العربية السعود"

In [61]:
full_df.shape

(18673, 38)

In [169]:
# Extract the train data randomly,so if we run the code the data will change and this is an example for df train becouse we saved the first data showed for us as df train before.
df_Train = full_df.sample(frac =.3213)
df_Train

,created_at,full_text,id,location,test
15700,2020-03-14 17:10:34+00:00,#انثبروا_ببيوتكم\nنطالب بااقفال المولات والمقاهي,1238875180061114400,,NaN
17213,2020-03-14 20:06:57+00:00,دخول ال 7500 من #مصر !!!\n\nلم تنسينا جرائم اب...,1238919566409044000,الكويت / لندن,NaN
3209,2020-04-01 17:33:17+00:00,ترصد مبادرة توصيل أدوية الأمراض المزمنة بـ #عر...,1245403876930596900,,NaN
9283,2020-04-10 00:08:58+00:00,الاعلامي بركات الوقيان من خلال برنامج #من_الاخ...,1248402557845655600,,NaN
2554,2020-03-29 21:10:06+00:00,@sabqorg و الرجال اللي في #الحد_الجنوبي ما فكر...,1244371276153618400,,NaN
...,...,...,...,...,...
2882,2020-04-01 11:41:15+00:00,اين الصلاه واين غاب المنبر\n\n#كورونا #وزارة_ا...,1245315283658723300,المملكة العربية السعودية 🇸🇦,NaN
1667,2020-03-25 10:31:04+00:00,#وزارة_الداخلية تقديم وقت بدء #منع_التجول إلى ...,1242760907488403500,Riyahd,NaN
5365,2020-03-28 23:37:17+00:00,#اعزل_نفسك https://t.co/SisxJ9I4ww,1244045931110072300,حايل,NaN
6728,2020-03-28 22:58:01+00:00,الدنيا مرعبة #اعزل_نفسك,1244036049287987200,"الدمام, المملكة العربية السعودية",2020-03-28 22:58:01+00:00
13071,2020-03-14 19:41:34+00:00,هجع بالبيت #اجلس_بالبيت,1238913177703809000,أوفياء من كِرااام العربِ,NaN

In [62]:

cc= pd.read_csv('datasets/df_Train.csv')
c2= pd.read_csv('datasets/full_df.csv')
len(c2[~c2['full_text'].isin(cc['full_text'])])

11818

In [63]:
# Extract the df test by index. that might be use it for future work.
test_df1=(full_df[~full_df.index.isin(cc['Unnamed: 0'])])
test_df1

,Unnamed: 0,Unnamed: 0.1,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,...,retweeted,retweeted_status,scopes,source,truncated,user,withheld_copyright,withheld_in_countries,withheld_scope,location
0,0,107107,NaN,NaN,2020-03-14 01:30:15+00:00,"[0, 275]","{'hashtags': [{'text': 'ملل', 'indices': [0, 4...",NaN,13,False,...,False,NaN,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,"{'id': 482567298, 'id_str': '482567298', 'name...",NaN,NaN,NaN,الرياض
1,1,147255,NaN,NaN,2020-03-14 17:55:45+00:00,"[0, 28]","{'hashtags': [{'text': 'خليك_في_البيت', 'indic...","{'media': [{'id': 1238886383877587000, 'id_str...",3,False,...,False,NaN,NaN,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,"{'id': 3081154219, 'id_str': '3081154219', 'na...",NaN,NaN,NaN,سلطنة عمان
4,4,185849,NaN,NaN,2020-03-15 04:10:19+00:00,"[0, 181]","{'hashtags': [{'text': 'كورونا', 'indices': [6...","{'media': [{'id': 1239041202944647200, 'id_str...",3,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",False,"{'id': 489380447, 'id_str': '489380447', 'name...",NaN,NaN,NaN,"الرياض, المملكة العربية السعود"
5,5,220909,NaN,NaN,2020-03-15 21:56:39+00:00,"[0, 30]","{'hashtags': [{'text': 'خليك_في_البيت', 'indic...","{'media': [{'id': 1239309502568112000, 'id_str...",0,False,...,False,NaN,NaN,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",False,"{'id': 1181279514, 'id_str': '1181279514', 'na...",NaN,NaN,NaN,#السعودية_العظمى
8,8,236777,NaN,NaN,2020-03-16 04:41:40+00:00,"[0, 261]","{'hashtags': [{'text': 'خليك_في_البيت', 'indic...","{'media': [{'id': 1239411481894178800, 'id_str...",3,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 206421037, 'id_str': '206421037', 'name...",NaN,NaN,NaN,Hashemite Kingdom of Jordan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18666,3880,538240,NaN,NaN,2020-03-09 19:20:13+00:00,"[0, 154]","{'hashtags': [{'text': 'الشوارع_الفاضيه', 'ind...",NaN,0,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 224499686, 'id_str': '224499686', 'name...",NaN,NaN,NaN,kuwait
18668,3882,36780,NaN,NaN,2020-04-02 05:29:37+00:00,"[0, 156]","{'hashtags': [{'text': 'لمياء_القرني', 'indice...","{'media': [{'id': 1245584125697781800, 'id_str...",0,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 2854306610, 'id_str': '2854306610', 'na...",NaN,NaN,NaN,
18669,3883,36949,NaN,NaN,2020-04-02 05:35:33+00:00,"[0, 278]","{'hashtags': [{'text': 'بهالوقت_احتاج_اقول', '...","{'media': [{'id': 1245585591212724200, 'id_str...",2,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 2500916238, 'id_str': '2500916238', 'na...",NaN,NaN,NaN,
18670,3884,37497,NaN,NaN,2020-04-03 04:31:05+00:00,"[0, 182]","{'hashtags': [{'text': 'لين_الشيشكلي', 'indice...",NaN,1,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 1244612098539348000, 'id_str': '1244612...",NaN,NaN,NaN,المدينة المنورة
18672,3886,44366,NaN,NaN,2020-04-03 13:34:10+00:00,"[0, 210]","{'hashtags': [{'text': 'اعزل_نفسك', 'indices':...","{'media': [{'id': 1246068202024517600, 'id_str...",9,False,...,False,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",False,"{'id': 569408650, 'id_str': '569408650', 'name...",NaN,NaN,NaN,🇸🇦 مملكة العز 🇸🇦

In [65]:
test_df1['id'].unique

<bound method Series.unique of 0        1238638542277968000
1        1238886551670661000
4        1239041210137837600
5        1239309562584465400
8        1239411489171259400
                ...
18666    1237095867917701000
18668    1245584149412364300
18669    1245585642718777300
18670    1245931804990869500
18672    1246068477477019600
Name: id, Length: 12673, dtype: int64>

In [69]:
#save the df test in csv file.

# we save the file and store it in datasets file so we comments this code in order to not save the file in your laptop and the path will change

# test_df1.to_csv('final_test.csv')

In [70]:
final_df= pd.read_csv('datasets/final_test.csv')

In [71]:
# check the length.
len(final_df)

12673